
/* Nei - hafnað */
.status-0{
  font-weight: 600;
  border-radius: 5%;
  border-color: rgba(234, 10, 137, 0.1);
  background-color: rgba(240, 10, 37, 0.5);
}

/* Túlkur kemur */
.status-1{
  font-weight: 600;
  border-radius: 5%;
  border-color: rgba(234,179,10,.1);
  background-color: rgba(133, 240, 10, 0.5);
}

/* Biðstaða */
.status-2{
  font-weight: 600;
  border-radius: 5%;
  border-color: rgba(234,179,10,.1);
  background-color: rgba(219, 203, 60, 0.882);
}

/* Afbókun */
.status-3{
  font-weight: 600;
  border-radius: 5%;
  border-color: rgba(234,179,10,.1);
  background-color: rgba(116, 191, 225, 0.882);
}
